# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
*.log

# Git
.git/
.gitignore

# SQL dumps
*.sql
Backend/2025_dump.sql

# Node modules (we only need the build folder)
Frontend/ava-03/node_modules/
Frontend/ava-03/src/
Frontend/ava-03/public/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Misc
*.zip
