# Frontend/ava-02/node_modules
# Frontend/ava-02/.pnp
*.pnp.js

# Vite
Frontend/ava-vite/node_modules/
Frontend/ava-vite/dist/
Frontend/ava-vite/.env
Frontend/ava-vite/.env.*

Backend/secrets.py
# Backend/configDB.py
Backend/__pycache__/*

*.zip
