services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: evangelion
      POSTGRES_PASSWORD: FormulaE1
      POSTGRES_DB: appdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  web:
    build: .
    environment:
      DATABASE_URL: postgresql://evangelion:FormulaE1@db:5432/avadb
    depends_on:
      - db
    ports:
      - "8000:8000"
    restart: unless-stopped

volumes:
  pgdata:
