/* SpeedDisplay.css */

.displayContainer {
  position: relative;
  width: 50%;
  max-width: 1000px;
  margin: 0 auto;
  height: 15vh;
  min-height: 120px;
  background-color: whitesmoke;
  border-radius: 7px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  min-width: 180px;
  height: 100%;
  gap: 0.5rem;
}

.leftContainer span {
  font-size: 1rem;
  white-space: nowrap;
}

.speed {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.speed span:first-child {
  font-size: 2.5rem;
  font-weight: bold;
}

.speed span:last-child {
  font-size: 1rem;
  margin-top: -0.5rem;
}

.modeSelect {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}

.selectionBox {
  padding: 0.3rem 0.8rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

.timer {
  position: absolute;
  top: 40%; 
  right: 10%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.timer span:first-child {
  font-size: 0.9rem;
}

.timer span:last-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.ssiBar {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 25px;
  height: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ssiTextContainer {
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
}

.ssiText {
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  white-space: normal;
  max-width: 100%;
  /* writing-mode: vertical-rl; */
  transform: rotate(180deg);
  margin-right: 2px;
}

p, span, h1 {
  color: black;
  padding: 0;
  margin: 0;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .displayContainer {
    width: 95%;
    height: auto;
    min-height: 180px;
    padding: 0.8rem;
  }
  
  .leftContainer {
    width: 40%;
    font-size: 0.8rem;
  }
  
  .speed span:first-child {
    font-size: 2rem;
  }
  
  .timer {
    right: 15%;
  }
  
  .timer span:last-child {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .displayContainer {
    padding: 0.5rem;
    min-height: 220px;
  }
  
  .leftContainer {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .speed {
    top: 50%;
    left: 30%;
  }
  
  .timer {
    top: 50%;
    right: 5%;
  }
  
  .modeSelect {
    bottom: 0.5rem;
  }
  
  .ssiBar {
    height: calc(100% - 1rem);
  }
}