.header{
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.connectBtn {
  position: fixed;
  height: fit-content;
  left: 10px;
}

.liveTelemetryBody {
  background-color: black;
  height: 100vh;
  width: 100%;
  z-index: 2;
}

.sensorBody {
  display: flex; /* Use flexbox layout */
  flex-direction: row; /* Align children horizontally */
  justify-content: flex-start; /* Align items to the left (you can adjust this as needed) */
  align-items: flex-start; /* Align items at the top (you can adjust this as needed) */
  height: 80vh;
  width: 100vh;
}